*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #424141;
}

.disc-container{
    position: relative;
}
.disc-container > .point{
    width: 24vw;
    position: absolute;
    left: 50%;
}
.disc-container > .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14vw;
}
.disc-container > .disc >.ring{
    width: 72vw;
}
.disc-container > .disc > .light{
    width: 72vw;
    position: absolute;
    animation: circle 20s infinite linear;
}
.song-description{
    color: #dedede;

}
.song-description > h1{
    font-size: 18px;
}
.song-description > p{
    font-size: 14px;
}
.page > .links{

}