*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #424141;
}

.disc-container{
    position: relative;
}

.disc-container > .point{
    width: 24vw;
    position: absolute;
    left: 50%;
}
.disc-container > .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14vw;
}
.disc-container > .disc >.icon{
    position: absolute;
    fill: rgba(255, 255, 255, 0.7);
    width: 15vw;
    height: 15vw;
    z-index: 1;
}

.disc-container > .disc >.icon.icon-play{
    display: block
}
.disc-container > .disc >.icon.icon-pause{
    display: none;
}
.disc-container > .disc >.ring{
    width: 72vw;
}
.disc-container > .disc > .light{
    width: 72vw;
    position: absolute;
    /* animation: circle 20s infinite linear; */
}
.disc-container.playing > .disc > .light{
    animation: circle 20s infinite linear;
}
.disc-container.playing >.disc > .icon.icon-play{
    display: none;
}
.disc-container.playing >.disc >.icon.icon-pause{
    display: block;
}

.song-description{
    flex-grow: 1;
    color: #a7a5a5;
    text-align: center;
    line-height: 2;
    margin-top: 30px;
}
.song-description > h1{
    color: #ffffff;
    font-size: 18px;
}
.song-description> .lyric{
    height: 72px;
    overflow: hidden;
    border: 1px solid red;
}
.song-description> .lyric > .lines > p{
    font-size: 14px;
    line-height: 24px;
}
.song-description> .lyric > .lines > p.active{
    color: #ffffff;
}
.page > .links{
    display: flex;
    justify-content: center;
    align-self: center;
}
.page > .links > a{
    width: 38.5vw;
    margin: 1em;
    text-align: center;
    border: 1px solid #d43b32;
    background: transparent;
    color: #d43b32;
    text-decoration: none;
    padding: 1.5vw;
    border-radius: 6px;
    letter-spacing: 1vw;
}
.page > .links > a.main{
    background: #d43b32;
    color: #ffffff;
}